
#header{
    background-color: #6892ED;
    display: block;
}
.menu-item.has-submenu:hover > .dynamic-submenu {
    display: block; /* Or use a more sophisticated animation */
}

/* Example of a dramatic hover effect (can be done with Tailwind too) */
.menu-item a:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

.menu-item{
    font-size: 18px;
    background-color: white;
    border-radius: 20px;
    color: black;
}
#mobile-menu-button:hover{
    cursor: pointer;
}

.mobile-item.has-submenu:hover > .mobile-menu-sub {
    display: block; /* Or use a more sophisticated animation */
}
.mobile-item:hover{
    font-weight: bold;
}

#dynamic-menu-container{
    justify-content: flex-end;
    align-items: flex-end;
}
.active-regular-menu{
    font-weight: bold;
    background:#FFD064;
}
.active-mobile-menu{
    font-weight: bold;
}