.my-progress {
    appearance: none;
    -webkit-appearance: none;
    width: 50%;
    height: 3rem;
    border-radius: 10px;
    overflow: hidden;
    background-color: #e5e7eb;
    border: none;
}

.my-progress::-webkit-progress-bar {
    background-color: #e5e7eb;
    border-radius: 10px;
}

.my-progress::-webkit-progress-value {
    background-color: #F9F08C;
    border-radius: 10px;
    transition: width 1s ease-out;
}

.levelButton {
    font-weight: bold;
    font-size: xx-large;
    border-radius: 9999px; 
    width: 15rem; 
    height: 15rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease, border 0.3s ease;
}

.levelButton:hover {
    opacity: 0.8;
}

#levelHeader {
    top: 0;
    left: 0;
    right: 0;
    position: sticky;
    z-index: 1; 
    background-color: #eff6ff;
    text-align: center;
    padding: 2rem 1rem;
}
