body{
  width: 100vw;
  height: 100vh;

}
.background-image {
  background-image: url("./assets/images/nature.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  left: 0; 
}
.dark-background {
  background-color: rgb(0, 0, 0);
  opacity: 0.2;
}
.playful-font {
  font-family: 'Fredoka One', 'Comic Sans MS', cursive;
  color: rgb(109, 71, 0);
}

.navBarItem {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}
