body{
  width: 100vw;
  height: 100vh;
    overflow-x: hidden;


}
.streak {
  filter: drop-shadow(0 0 6px grey);
}
.background-image {
  background-image: url("./assets/Images/nature2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  left: 0; 
}
.dark-background {
  background-color: rgb(0, 0, 0);
  opacity: 0.2;
}
.playful-font {
  font-family: 'Fredoka One', 'Comic Sans MS', cursive;
  color: rgb(109, 71, 0);
}

.navBarItem {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}

.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
